{{ template "open" . }}

<div id="content">
    <div id="index" style="padding:14px;">
        <p style="text-align: justify;">AJudge is a problem solving platform. We have no own created problem. We gather problems from different Online Judge & allow you to submit them. AJudge supports following Online Judge's:</p>
        <table id="homepageTable">
            <tr>
                <td style="width:35%">
                    <a href="https://www.dimikoj.com/" target="_blank"><img src="../assets/images/OJLogo/dimikoj.png" style="width: 23px; margin-left:-1px">DimikOJ</a>
                </td>
                <td style="width:35%">
                    <a href="http://lightoj.com/" target="_blank"><img src="../assets/images/OJLogo/loj.jpg">LightOJ</a>
                </td>
                <td style="width:35%">
                    <a href="https://toph.co/" target="_blank"><img src="../assets/images/OJLogo/toph.png" style="width: 21px;">Toph</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://www.urionlinejudge.com.br/" target="_blank"><img src="../assets/images/OJLogo/uri.png" style="width: 24px;">URI</a>
                </td>
                {{/* <td>
                    <a href="https://www.51nod.com/" target="_blank"><img src="../assets/images/OJLogo/51nod.ico">51Nod</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acdream.info/" target="_blank"><img src="../assets/images/OJLogo/acdream.ico">ACdream</a>
                </td> */}}
                {{/* <td>
                    <a href="http://judge.u-aizu.ac.jp/" target="_blank"><img src="../assets/images/OJLogo/aizu.ico">Aizu</a>
                </td> */}}
                <td>
                    <a href="https://atcoder.jp/" target="_blank"><img src="../assets/images/OJLogo/atcoder.png">AtCoder</a>
                </td>
                {{/* <td>
                    <a href="http://www.codechef.com/" target="_blank"><img src="../assets/images/OJLogo/codechef.ico">CodeChef</a>
                </td> */}}
                <td>
                    <a href="http://codeforces.com/" target="_blank"><img src="../assets/images/OJLogo/CodeForces.png">CodeForces</a>
                </td>
                {{/* <td>
                    <a href="http://acm.csu.edu.cn/OnlineJudge/" target="_blank"><img src="../assets/images/OJLogo/csu.ico">CSU</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.mipt.ru/judge/" target="_blank"><img src="../assets/images/OJLogo/eijudge.ico">EIJudge</a>
                </td> */}}
                {{/* <td>
                    <a href="https://www.e-olymp.com/en/" target="_blank"><img src="../assets/images/OJLogo/e-olymp.ico">EOlymp</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.fzu.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/fzu.png">FZU</a>
                </td> */}}
                {{/* <td>
                    <a href="http://codeforces.com/gyms/" target="_blank"><img src="../assets/images/OJLogo/CodeForces.png">Gym</a>
                </td> */}}
            </tr>
            <tr>
                <td>
                    <a href="https://www.hackerrank.com/" target="_blank"><img src="../assets/images/OJLogo/hackerrank.png">HackerRank</a>
                </td>
                {{/* <td>
                    <a href="http://acm.hdu.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/hdu.png">HDU</a>
                </td> */}}
                {{/* <td>
                    <a href="https://hihocoder.com/" target="_blank"><img src="../assets/images/OJLogo/hihocoder.png">HihoCoder</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.hit.edu.cn/hoj/" target="_blank"><img src="../assets/images/OJLogo/hit.png">HIT</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.hrbust.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/hrbust.ico">HRBUST</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.hust.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/hust.png">HUST</a>
                </td> */}}
                {{/* <td>
                    <a href="http://www.lydsy.com/JudgeOnline/" target="_blank"><img src="../assets/images/OJLogo/hysbz.png">HYSBZ</a>
                </td> */}}
                {{/* <td>
                    <a href="https://open.kattis.com/" target="_blank"><img src="../assets/images/OJLogo/kattis.ico">Kattis</a>
                </td> */}}
                {{/* <td>
                    <a href="https://loj.ac/" target="_blank"><img src="../assets/images/OJLogo/libreoj.ico">LibreOJ</a>
                </td> */}}
                {{/* <td>
                    <a href="https://ac.2333.moe/" target="_blank"><img src="../assets/images/OJLogo/nbut.png">NBUT</a>
                </td> */}}
                {{/* <td>
                    <a href="http://openjudge.cn/" target="_blank"><img src="../assets/images/OJLogo/poj.ico">OpenJudge</a>
                </td> */}}
                {{/* <td>
                    <a href="http://poj.org/" target="_blank"><img src="../assets/images/OJLogo/poj.ico">POJ</a>
                </td> */}}
                {{/* <td>
                    <a href="http://cstest.scu.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/scu.ico">SCU</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.sgu.ru/" target="_blank"><img src="../assets/images/OJLogo/sgu.ico">SGU</a>
                </td> */}}
                {{/* <td>
                    <a href="http://www.spoj.com/" target="_blank"><img src="../assets/images/OJLogo/spoj.png">SPOJ</a>
                </td> */}}
                <td>
                    <a href="https://arena.topcoder.com/" target="_blank"><img src="../assets/images/OJLogo/topcoder.png">TopCoder</a>
                </td>
                {{/* <td>
                    <a href="http://acm.uestc.edu.cn/" target="_blank"><img src="../assets/images/OJLogo/uestc.png">UESTC</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.timus.ru/" target="_blank"><img src="../assets/images/OJLogo/ural.ico">URAL</a>
                </td> */}}
                <td>
                    <a href="https://onlinejudge.org/" target="_blank"><img src="../assets/images/OJLogo/uva.ico">UVA</a>
                </td>
                {{/* <td>
                    <a href="http://livearchive.onlinejudge.org/index.php" target="_blank"><img src="../assets/images/OJLogo/uva.ico">UVALive</a>
                </td> */}}
                {{/* <td>
                    <a href="http://www.codah.club/" target="_blank"><img src="../assets/images/OJLogo/icpc.png">Z_trening</a>
                </td> */}}
                {{/* <td>
                    <a href="http://acm.zju.edu.cn/onlinejudge/" target="_blank"><img src="../assets/images/OJLogo/zoj.ico">ZOJ</a>
                </td> */}}
                {{/* <td>
                    <a href="https://nanti.jisuanke.com/" target="_blank"><img src="../assets/images/OJLogo/jisuanke.ico">计蒜客</a>
                </td> */}}
            </tr>
        </table>
    </div>
</div>

{{ template "close" . }}