<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ .PageTitle }}</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="../../../assets/images/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../assets/styles/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../../../assets/styles/problemSet.css" type="text/css">
        <base target="_parent">
    </head>
    <body>
        <div id="main" style="background:white;">
            <div id="content" style="width:100%;">
                <p id="invisibleOJ" style="display:none;">{{ .OJ }}</p>
                <p id="invisiblePNum" style="display:none;">{{ .PNum }}</p>
                <p id="contestID" style="display:none;">{{ .ContestID }}</p>
                <p id="serialID" style="display:none;">{{ .SerialIndex }}</p>
                <div id="probDes">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="leftContent">
                                {{/* <h1 style="text-align:center;color:#1b6698; margin-top: 15px;margin-bottom:30px;">{{ .PName }}</h1> */}}
                                <object id="problemDescription">
                                    {{ if eq .OJ "DimikOJ" }}
                                        {{ .DimikOJProblem.Des }}
                                    {{ else if eq .OJ "Toph" }}
                                        {{ .TophProblem.Des }}
                                    {{ else if eq .OJ "URI" }}
                                        {{ .URIProblem.Des }}
                                    {{ else }}
                                        {{ .VJProblem.Des }}
                                    {{ end }}
                                </object>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="rightContent">
                                {{ if eq .AllowSubmit true }}
                                    <button id="submitAllow" style="text-decoration:none;color:white;display: block;padding: 7px;">Submit</button>
                                {{ else }}
                                    <button id="submitDisable"><a style="text-decoration:none;color:white;display: block;padding: 7px;" title="Submit is not Allowed for this problem. System Error.">Submit</a></button>
                                {{ end }}
                                <div>
                                    <table style="border-collapse:collapse;width:100%;">
                                        <tr>
                                            <td class="colLimit">Memory Limit</td>
                                            <td>
                                                {{ if or (eq .MemoryLimit "-") (eq .MemoryLimit "") }}
                                                : -
                                                {{ else }}
                                                : {{ .MemoryLimit }}
                                                {{ end }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLimit">Time Limit</td>
                                            <td>
                                                {{ if or (eq .TimeLimit "-") (eq .TimeLimit "") }}
                                                : -
                                                {{ else }}
                                                : {{ .TimeLimit }}
                                                {{ end }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="colLimit">Source Limit</td>
                                            <td>
                                                {{ if or (eq .SourceLimit "-") (eq .SourceLimit "") }}
                                                : -
                                                {{ else }}
                                                : {{ .SourceLimit }}
                                                {{ end }}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../../../assets/scripts/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="../../../assets/scripts/bootstrap.min.js"></script>
        <script src="../../../assets/scripts/main.js"></script>
        <script src="../../../assets/scripts/problemView.js"></script>
        <script src="../../../assets/scripts/iframeResizer.contentWindow.min.js"></script>
        <script src="../../../assets/scripts/subCiframe.js"></script>
    </body>
</html>