# for downloading and displaying images of problem statement
/assets/temp/*

# for different login credentials
/vault/vault.go

# all exe file
*.exe

# binary file (linux)
ajudge

# log files
/log/*

# docker mongodata
/mongodata

# vs code related
.vscode